* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1d;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-size: 16px;
}

::selection{
  background: tomato;
}

header{
  padding: 0px 10px;
  height: 80px;
  width: 100%;
  background: #272727;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 2px black; 
}

#logo{
  min-width: 100px;
}

#logoAltern{
color: white;
}

#logoAltern:hover{
color:tomato;
}

.browserAdd{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: centeR;
}

form{
  display: flex;
  width: 100%;
  justify-content: center;
}


input{
  width: 50%;
  max-width: 400px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #454545;
  color: #171717;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  text-align: center;
  display: flex;
  
}

input:focus{
  border: 2px solid #ec5656;
}

#menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  /*border: 1px solid #eeeeee;*/
  border-radius: 5px;
  margin-left: 10px;
}

#menu:focus{
  border: 2px solid #ec5656
}

.menuLine{
  width: 30px;
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee;
}


#menu:hover .menuLine{
background-color: tomato;
}


.cantPolizas{
  color: tomato;
}

#mainWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;
  /*height: 100vh;*/
  height: 100hv;
  align-items: center;
}

#mainWrapper a{
  text-decoration: none;
  color: #1d1d1d;
}
